<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Ru</title>
</head>

<body>
    <form class="login" method="post">
        <h1>Анкета</h1>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <div>
            <label for="name">Имя</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="cars">Машина</label>
            <select name="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>
        </div>

        <input type="submit" value="Login" id="sbmt">
    </form>

</body>

</html>