<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Pl</title>
</head>

<body>
    <form method="post">
        <h1>Ankieta</h1>
        {% if message %}
        <h2>{{ message }}</h2>
        {% endif %}
        <div>
            <label for="0">Twój kraj</label>
            <p><select name="0">
                <option value="0"> Ukraina</option>
                <option value="1"> Białoruś</option>
                <option value="2"> Rosja</option>
                <option value="3"> Moldova</option>
                <option value="4"> Polska</option>
                <option value="5"> Litwa</option>
                <option value="6"> Łotwa</option>
                <option value="7"> Istonia</option>
                <option value="8"> Gruzja</option>
                <option value="9"> Armenia</option>
            </select></p>
        </div>
        <div>
            <label for="1">Numer telefonu</label>
            <p><input type="text" name="1" placeholder="012 123 45 67" required /></p>
        </div>
        <div>
            <label for="2">płeć</label>
            <p><select name="2">
                <option value="0"> Pan</option>
                <option value="1"> Pani</option>
            </select></p>
        </div>
        <div>
            <label for="3">Nazwisko</label>
            <p><input type="text" name="3" required /></p>
        </div>
        <div>
            <label for="4">Imię</label>
            <p><input type="text" name="4" required /></p>
        </div>
        <div>
            <label for="5">prawo jazdy</label>
            <p><select name="5">
                <option value="0"> Nie</option>
                <option value="1"> Tak</option>
            </select></p>
        </div>
        <div>
            <label for="6">Edukacja pielęgniarska</label>
            <p><select name="6">
                <option value="0"> Nie</option>
                <option value="1"> Tak</option>
            </select></p>
        </div>
        <div>
            <label for="7">Gotowy do pracy od daty.</label>
            <p><input type="date" name="7" min="{{ date }}" value="{{ date }}"></p>
        </div>
        <div>
            <label for="8">liczba dni potrzebnych na zebranie do wyjazdu na wolne stanowisko</label>
            <p><input type="number" name="8" min="1" max="30" value="1"></p>
        </div>
        <div>
            <label for="9">Pożądana pensja w euro</label>
            <p><input type="number" name="9" min="0" max="1500" value="0"></p>
        </div>
        <div>
            <label for="10">narodowość</label>
            <p><select name="10">
                <option value="0"> Ukraina</option>
                <option value="1"> Białoruś</option>
                <option value="2"> Rosja</option>
                <option value="3"> Moldova</option>
                <option value="4"> Gruzja</option>
                <option value="5"> Armenia</option>
                <option value="6"> EU</option>
            </select></p>
        </div>
        <div>
            <label for="11">Stan cywilny</label>
            <p><select name="11">
                <option value="0"> niezamężna</option>
                <option value="1"> zamężna</option>
            </select></p>
        </div>
        <div>
            <label for="12">Czy są jakieś dzieci poniżej 3 lat?</label>
            <p><select name="12">
                <option value="0"> Nie</option>
                <option value="1"> Tak</option>
            </select></p>
        </div>
        <div>
            <label for="13">Czy są jakieś dzieci poniżej 18 lat?</label>
            <p><select name="13">
                <option value="0"> Nie</option>
                <option value="1"> Tak</option>
            </select></p>
        </div>
        <div>
            <label for="14">waga w kg</label>
            <p><input type="number" name="14" min="1" max="250" value="1"></p>
        </div>
        <div>
            <label for="15">wysokość w cm</label>
            <p><input type="number" name="15" min="1" max="250" value="1"></p>
        </div>
        <div>
            <label for="16">Alergie</label>
            <p><input type="checkbox" name="16 0" value="0" /> bez</p>
            <p><input type="checkbox" name="16 1" value="1" /> koty</p>
            <p><input type="checkbox" name="16 2" value="2" /> psy</p>
            <p><input type="checkbox" name="16 3" value="3" /> Lateks</p>
            <p><input type="checkbox" name="16 4" value="4" /> Chemiczne środki czyszczące (proszek do prania, płyny do mycia naczyń itp.).</p>
            <p><input type="checkbox" name="16 5" value="5" /> inne</p>
        </div>
        <div>
            <label for="17">Inne alergie:</label>
            <p><input type="text" name="17" /></p>
        </div>
        <div>
            <label for="18">Czy bierzesz regularne leki?</label>
            <p><select name="18">
                <option value="0"> Nie</option>
                <option value="1"> Tak</option>
            </select></p>
        </div>
        <div>
            <label for="19">Jeśli tak, które</label>
            <p><input type="text" name="19" /></p>
        </div>
        <div>
            <label for="20">Czy regularnie pijesz alkohol?</label>
            <p><select name="20">
                <option value="0"> Nie</option>
                <option value="1"> Tak</option>
            </select></p>
        </div>
        <div>
            <label for="21">czy palisz?</label>
            <p><select name="21">
                <option value="0"> Nie</option>
                <option value="1"> Tak</option>
            </select></p>
        </div>

        <h2>powiedz o sobie</h2>

        <div>
            <label for="22">Opisz swoje najlepsze cechy i swoją postać </label>
            <p><input type="checkbox" name="22 0" value="0" /> solidny</p>
            <p><input type="checkbox" name="22 1" value="1" /> cierpliwy</p>
            <p><input type="checkbox" name="22 2" value="2" /> towarzyski</p>
            <p><input type="checkbox" name="22 3" value="3" /> zmotywowany</p>
            <p><input type="checkbox" name="22 4" value="4" /> zrównoważony</p>
            <p><input type="checkbox" name="22 5" value="5" /> energiczny</p>
            <p><input type="checkbox" name="22 6" value="6" /> doświadczony</p>
            <p><input type="checkbox" name="22 7" value="7" /> spokojny</p>
            <p><input type="checkbox" name="22 8" value="8" /> zorganizowany</p>
            <p><input type="checkbox" name="22 9" value="9" /> szczery</p>
            <p><input type="checkbox" name="22 10" value="10" /> ambitny</p>
            <p><input type="checkbox" name="22 11" value="11" /> zdyscyplinowany</p>
            <p><input type="checkbox" name="22 12" value="12" /> odporny na stres</p>
            <p><input type="checkbox" name="22 13" value="13" /> uważny</p>
            <p><input type="checkbox" name="22 14" value="14" /> uporządkowany</p>
            <p><input type="checkbox" name="22 15" value="15" /> pracowity</p>
            <p><input type="checkbox" name="22 16" value="16" /> uprzejmy</p>
            <p><input type="checkbox" name="22 17" value="17" /> uczyć się szybko nowy</p>
            <p><input type="checkbox" name="22 18" value="18" /> nie mam złych nawyków</p>
            <p><input type="checkbox" name="22 19" value="19" /> przyjazny</p>
            <p><input type="checkbox" name="22 20" value="20" /> sumienny</p>
            <p><input type="checkbox" name="22 21" value="21" /> optymistyczny</p>
            <p><input type="checkbox" name="22 22" value="22" /> czuły</p>
            <p><input type="checkbox" name="22 23" value="23" /> Jestem w stanie znaleźć podejście do ludzi</p>
            <p><input type="checkbox" name="22 24" value="24" /> trwały</p>
            <p><input type="checkbox" name="22 25" value="25" /> twórczy</p>
            <p><input type="checkbox" name="22 26" value="26" /> wszechstronny</p>
            <p><input type="checkbox" name="22 27" value="27" /> zrównoważony</p>
            <p><input type="checkbox" name="22 28" value="28" /> z poczuciem humoru</p>
            <p><input type="checkbox" name="22 29" value="29" /> sumienny</p>
            <p><input type="checkbox" name="22 30" value="30" /> zdyscyplinowany</p>
            <p><input type="checkbox" name="22 31" value="31" /> otwarty</p>
            <p><input type="checkbox" name="22 32" value="32" /> schludny</p>
        </div>
        <div>
            <label for="23">Jak spędzasz swój wolny czas?</label>
            <p><input type="checkbox" name="23 0" value="0" /> uprawiać sport</p>
            <p><input type="checkbox" name="23 1" value="1" /> czytanie książek i czasopism</p>
            <p><input type="checkbox" name="23 2" value="2" /> czytanie gazet</p>
            <p><input type="checkbox" name="23 3" value="3" /> Gry planszowe</p>
            <p><input type="checkbox" name="23 4" value="4" /> </p>
            <p><input type="checkbox" name="23 5" value="5" /> szachy</p>
            <p><input type="checkbox" name="23 6" value="6" /> warcaby</p>
            <p><input type="checkbox" name="23 7" value="7" /> karty</p>
            <p><input type="checkbox" name="23 8" value="8" /> oglądać telewizję</p>
            <p><input type="checkbox" name="23 9" value="9" /> chodzi w przyrodzie</p>
            <p><input type="checkbox" name="23 10" value="10" /> wyprowadzać psa</p>
            <p><input type="checkbox" name="23 11" value="11" /> rozwiązywać krzyżówki</p>
            <p><input type="checkbox" name="23 12" value="12" /> robić na drutach</p>
            <p><input type="checkbox" name="23 13" value="13" /> uczyć się niemieckiego</p>
            <p><input type="checkbox" name="23 14" value="14" /> śpiewać w chórze</p>
            <p><input type="checkbox" name="23 15" value="15" /> śpiewać karaoke</p>
            <p><input type="checkbox" name="23 16" value="16" /> rysować</p>
            <p><input type="checkbox" name="23 17" value="17" /> rzeźba w drewnie</p>
            <p><input type="checkbox" name="23 18" value="18" /> rzemiosło w domu</p>
            <p><input type="checkbox" name="23 19" value="19" /> chodzić do kościoła</p>
            <p><input type="checkbox" name="23 20" value="20" /> gotować</p>
            <p><input type="checkbox" name="23 21" value="21" /> piec</p>
            <p><input type="checkbox" name="23 22" value="22" /> komponować poezję, słuchać poezji</p>
            <p><input type="checkbox" name="23 23" value="23" /> składany papier origami</p>
            <p><input type="checkbox" name="23 24" value="24" /> opiekować się moim ogrodem</p>
            <p><input type="checkbox" name="23 25" value="25" /> bawić się z moimi zwierzętami</p>
            <p><input type="checkbox" name="23 26" value="26" /> spędzać czas z rodziną</p>
            <p><input type="checkbox" name="23 27" value="27" /> podróżować</p>
            <p><input type="checkbox" name="23 28" value="28" /> robić i przetwarzać zdjęcia</p>
        </div>
        <div>
            <label for="24">Co skłoniło cię do pracy jako opiekun</label>
            <p><select name="24">
                <option value="0">?</option>
            </select></p>
        </div>
        <div>
            <label for="25">Moje umiejętności kulinarne</label>
            <p><select name="25">
                <option value="0"> niestety nie gotuję</option>
                <option value="1"> Zawsze gotuję dla siebie i mojej rodziny</option>
                <option value="2"> Uwielbiam gotować i regularnie próbować nowe przepisy</option>
                <option value="3"> gotowanie i pieczenie to moja pasja</option>
            </select></p>
        </div>

        <h2>DOŚWIADCZENIE</h2>
        <h2>Opowiedz nam o swoich ostatnich pacjentach.</h2>

        <div>
            <label for="26">kraj</label>
            <p><select name="26">
                <option value="0"> Niemcy</option>
                <option value="1"> Polska</option>
                <option value="2"> Włochy</option>
                <option value="3"> Izrael</option>
                <option value="4"> Ukraina</option>
            </select></p>
        </div>
        <div>
            <label for="27">od </label>
            <p><input type="date" name="27" max="{{ date }}" value="{{ date }}"></p>
        </div>
        <div>
            <label for="28">do</label>
            <p><input type="date" name="28" max="{{ date }}" value="{{ date }}"></p>
        </div>
        <div>
            <label for="29">płeć pacjenta</label>
            <p><select name="29">
                <option value="0"> m</option>
                <option value="1"> k</option>
                <option value="2"> para</option>
            </select></p>
        </div>

        <div>
            <label for="30">twoje obowiązki</label>
            <p><input type="checkbox" name="30 0" value="0" /> przewróć pacjenta w łóżku</p>
            <p><input type="checkbox" name="30 1" value="1" /> przenieść z łóżka, na przykład, na inv. fotel</p>
            <p><input type="checkbox" name="30 2" value="2" /> pomoc podczas wchodzenia po schodach</p>
            <p><input type="checkbox" name="30 3" value="3" /> pomóc zmienić ubrania</p>
            <p><input type="checkbox" name="30 4" value="4" /> umyć pacjenta w łóżku</p>
            <p><input type="checkbox" name="30 5" value="5" /> umyć tułowia pacjenta</p>
            <p><input type="checkbox" name="30 6" value="6" /> umyć nogi pacjenta i miejsca intymne</p>
            <p><input type="checkbox" name="30 7" value="7" /> wykonywać pielęgnację jamy ustnej</p>
            <p><input type="checkbox" name="30 8" value="8" /> pomagać dbać o stopy i dłonie</p>
            <p><input type="checkbox" name="30 9" value="9" /> pomagać dbać o swoje włosy</p>
            <p><input type="checkbox" name="30 10" value="10" /> pomoc iść do toalety</p>
            <p><input type="checkbox" name="30 11" value="11" /> zmieniać urządzenia higieniczne podczas nietrzymania moczu (pieluchy)</p>
            <p><input type="checkbox" name="30 12" value="12" /> </p>
            <p><input type="checkbox" name="30 13" value="13" /> </p>
            <p><input type="checkbox" name="30 14" value="14" /> pomagać reaktywować zdolności łączące</p>
            <p><input type="checkbox" name="30 15" value="15" /> karmić pacjenta</p>
            <p><input type="checkbox" name="30 16" value="16" /> siekać jedzenie</p>
            <p><input type="checkbox" name="30 17" value="17" /> monitorować przyjmowanie płynów</p>
            <p><input type="checkbox" name="30 18" value="18" /> gotować, biorąc pod uwagę specjalną dietę pacjenta</p>
            <p><input type="checkbox" name="30 19" value="19" /> gospodarstwo domowe</p>
            <p><input type="checkbox" name="30 20" value="20" /> zakup żywności</p>
            <p><input type="checkbox" name="30 21" value="21" /> gotowanie jedzenia</p>
            <p><input type="checkbox" name="30 22" value="22" /> pielęgnacja kwiatów</p>
            <p><input type="checkbox" name="30 23" value="23" /> pielęgnacja ogrodu</p>
            <p><input type="checkbox" name="30 24" value="24" /> opiekować się zwierzętami pacjent</p>
            <p><input type="checkbox" name="30 25" value="25" /> wspólne spacery z pacjentem</p>
            <p><input type="checkbox" name="30 26" value="26" /> zajęcia rekreacyjne</p>
            <p><input type="checkbox" name="30 27" value="27" /> eskortować do lekarza</p>
            <p><input type="checkbox" name="30 28" value="28" /> kontrola leków</p>
            <p><input type="checkbox" name="30 29" value="29" /> czasami dyżur nocny</p>
            <p><input type="checkbox" name="30 30" value="30" /> regularny dyżur nocny</p>
        </div>
        <div>
            <label for="31">były narzędzia pomocnicze</label>
            <p><input type="checkbox" name="31 0" value="0" /> nic</p>
            <p><input type="checkbox" name="31 1" value="1" /> chodziki</p>
            <p><input type="checkbox" name="31 2" value="2" /> wózek inwalidzki</p>
            <p><input type="checkbox" name="31 3" value="3" /> elektryczny wózek inwalidzki</p>
            <p><input type="checkbox" name="31 4" value="4" /> łóżko medyczne</p>
            <p><input type="checkbox" name="31 5" value="5" /> Winda medyczna</p>
            <p><input type="checkbox" name="31 6" value="6" /> Materac do odleżyn</p>
            <p><input type="checkbox" name="31 7" value="7" /> winda schodowa</p>
            <p><input type="checkbox" name="31 8" value="8" /> stołek prysznicowy</p>
            <p><input type="checkbox" name="31 9" value="9" /> butelka moczu</p>
            <p><input type="checkbox" name="31 10" value="10" /> pieluchy</p>
            <p><input type="checkbox" name="31 11" value="11" /> pieluchy wielokrotnego użytku</p>
            <p><input type="checkbox" name="31 12" value="12" /> Krzesło WC</p>

        </div>
        <div>
            <label for="32">sytuacje i choroby, które napotkałem lub jestem gotowy do pracy</label>
            <p><input type="checkbox" name="32 0" value="0" /> 2 pacjentów jednocześnie</p>
            <p><input type="checkbox" name="32 1" value="1" /> alergie</p>
            <p><input type="checkbox" name="32 2" value="2" /> Alzheimer</p>
            <p><input type="checkbox" name="32 3" value="3" /> astma</p>
            <p><input type="checkbox" name="32 4" value="4" /> nadciśnienie</p>
            <p><input type="checkbox" name="32 5" value="5" /> depresja</p>
            <p><input type="checkbox" name="32 6" value="6" /> cukrzyca</p>
            <p><input type="checkbox" name="32 7" value="7" /> cukrzyca (wymagana insulina)</p>
            <p><input type="checkbox" name="32 8" value="8" /> udar mózgu</p>
            <p><input type="checkbox" name="32 9" value="9" /> sztuczne oddychanie / dostarczanie tlenu</p>
            <p><input type="checkbox" name="32 10" value="10" /> jedzenie przez rurkę(PEG)</p>
            <p><input type="checkbox" name="32 11" value="11" /> cewnik</p>
            <p><input type="checkbox" name="32 12" value="12" /> stałe spożycie</p>
            <p><input type="checkbox" name="32 13" value="13" /> ?</p>
            <p><input type="checkbox" name="32 14" value="14" /> ?</p>
            <p><input type="checkbox" name="32 15" value="15" /> pacjenci w łóżku</p>
            <p><input type="checkbox" name="32 16" value="16" /> zaburzony rytm snu</p>
            <p><input type="checkbox" name="32 17" value="17" /> demencja początkowa</p>
            <p><input type="checkbox" name="32 18" value="18" /> nietrzymanie kału</p>
            <p><input type="checkbox" name="32 19" value="19" /> nietrzymanie moczu</p>
            <p><input type="checkbox" name="32 20" value="20" /> obrzęk / rak</p>
            <p><input type="checkbox" name="32 21" value="21" /> osteoporoza</p>
            <p><input type="checkbox" name="32 22" value="22" /> parkinson</p>
            <p><input type="checkbox" name="32 23" value="23" /> po zawale serca</p>
            <p><input type="checkbox" name="32 24" value="24" /> odleżyny</p>
            <p><input type="checkbox" name="32 25" value="25" /> stwardnienie rozsiane</p>
            <p><input type="checkbox" name="32 26" value="26" /> reumatyzm</p>
            <p><input type="checkbox" name="32 27" value="27" /> arytmia serca</p>
            <p><input type="checkbox" name="32 28" value="28" /> niewydolność serca</p>
            <p><input type="checkbox" name="32 29" value="29" /> ?</p>
            <p><input type="checkbox" name="32 30" value="30" /> średnia demencja</p>
            <p><input type="checkbox" name="32 31" value="31" /> ciężka demencja</p>
            <p><input type="checkbox" name="32 32" value="32" /> osłabienie starcze / ograniczona mobilność</p>
            <p><input type="checkbox" name="32 33" value="33" /> brak doświadczenia</p>
        </div>
        <div>
            <label for="33">dodatkowe kwalifikacje</label>
            <p><input type="checkbox" name="33 0" value="0" /> kursy pierwszej pomocy</p>
            <p><input type="checkbox" name="33 1" value="1" /> kursy masażu</p>
            <p><input type="checkbox" name="33 2" value="2" /> kursy gotowania</p>
            <p><input type="checkbox" name="33 3" value="3" /> kursy dietetyki</p>
            <p><input type="checkbox" name="33 4" value="4" /> Kursy opieki dla osób starszych</p>
            <p><input type="checkbox" name="33 5" value="5" /> inny</p>
            <p><input type="checkbox" name="33 6" value="6" /> nie brał udział w kursach</p>
        </div>
        <div>
            <label for="34">Uczyłeś się niemieckiego</label>
            <p><select name="34">
                <option value="0"> Nie</option>
                <option value="1"> Tak</option>
            </select></p>
        </div>
        <div>
            <label for="35">gdzie studiował niemiecki</label>
            <p><select name="35">
                <option value="0"> когда учился в школе </option>
                <option value="1"> Курсы немецкого языка </option>
                <option value="2"> Курсы немецкого языка от фирмы Medius Work</option>
                <option value="3"> На работе опекуном (в Германии)</option>
                <option value="4"> Самоучка</option>
                <option value="5"> Не изучал</option>
            </select></p>
        </div>
        <div>
            <label for="36">jeśli studiował,to jak długo</label>
            <p><select name="36">
                <option value="0">mniej niż 3 miesiące</option>
                <option value="1">ponad 3 miesiące</option>
                <option value="2">ponad 6 miesięcy</option>
                <option value="3">ponad 1 rok</option>
            </select></p>
        </div>
        <div>
            <label for="37">jak się oceniam</label>
            <p><select name="37">
                <option value="0">Biegła znajomość języka</option>
                <option value="1">zaawansowane</option>
                <option value="2">komunikatywny</option>
                <option value="3">podstawowy</option>
            </select></p>
        </div>
        <div>
            <label for="38">Mam certyfikat</label>
            <p><select name="38">
                <option value="0">Göthe C1</option>
                <option value="1">Göthe B2</option>
                <option value="2">Göthe B1</option>
                <option value="3">Göthe A2</option>
                <option value="4">Göthe A1</option>
            </select></p>
        </div>
        <div>
            <label for="39">dodatkowe języki</label>
            <p><input type="checkbox" name="39 0" value="0" /> polski</p>
            <p><input type="checkbox" name="39 1" value="1" /> angielski</p>
            <p><input type="checkbox" name="39 2" value="2" /> włoski</p>
        </div>
        <input type="submit" id="sbmt">
    </form>

</body>

</html>